body {
  font-family: sans-serif;
  background-color: #808080;
  margin: 0;
  line-height: 1.5;
  color: #495057;
  text-align: left;
}

/**
 * color variables
 */
@value primaryColor: #FA500C;
@value secondaryColor: #C74009;
@value borderColor: #e8e8e8;
@value backShade: #e8e8e8;


