#card_login,
#card_register {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

#btn_signin,
#btn_signup {
  width: 300px;
  border: solid #d1420a;
  border-radius: 4px;
  background-color: #d1420a;
}

#btn_signin:hover,
#btn_signup:hover {
  border: solid #fa500c;
  background-color: #fa500c;
}

#username,
#password {
  width: 300px;
  border: none;
  border: solid 1px #ccc;
  border-radius: 4px;
}
