All css files are organized well in css folder. One suggested would be to have each css file next to their respective files of which the css is being applied to. 
This way it will be more intuitive which file the css is being applied to. Great job.  
#card_login,
#card_register {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

#btn_signin,
#btn_signup {
  width: 300px;
  border: solid #d1420a;
  border-radius: 4px;
  background-color: #d1420a;
}

#btn_signin:hover,
#btn_signup:hover {
  border: solid #fa500c;
  background-color: #fa500c;
}

#username,
#password {
  width: 300px;
  border: none;
  border: solid 1px #ccc;
  border-radius: 4px;
}
