.CommentBox {
  margin-top: 10px;
  margin-bottom: 10px;
}

#postComment, #editComment {
  color: #ffffff;
  border: solid 1px #d1420a;
  background-color: #d1420a;
}

#postComment:hover, #editComment:hover {
  color: #ffffff;
  border: solid 1px #C74009;
  background-color: #C74009;
}
