#editButton, #closeCancel {
  color: #d1420a;
  border: solid 1px #d1420a;
  background-color: #ffffff;
}

#editButton:hover,
#closeCancel:hover {
  color: #fa500c;
  border: solid 1px #fa500c;
  background-color: #ffffff;
}

#closeButton,
#closePostButton {
  margin-left: 10px;
  color: #ffffff;
  border: solid 1px #d1420a;
  background-color: #d1420a;
}

#closeButton:hover,
#closePostButton:hover {
  color: #ffffff;
  border: solid 1px #fa500c;
  background-color: #fa500c;
}

#editButton,
#closeButton {
  margin-top: 20px;
  width: 70px;
}
