.comment-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

#commentEdit {
  margin-left: 10px;
  color: #d1420a;
  border: solid 1px #d1420a;
  background-color: #ffffff;
  width: 70px;
}

#commentEdit:hover {
  color: #C74009;
  border: solid 1px #C74009;
  background-color: #ffffff;
}

#commentDelete {
  margin-left: 10px;
  color: #ffffff;
  border: solid 1px #d1420a;
  background-color: #d1420a;
  width: 70px;
}

#commentDelete:hover {
  color: #ffffff;
  border: solid 1px #C74009;
  background-color: #C74009;
}

