.nav-link {
  color: #ffffff;
  padding-top: 10px;
}

a.nav-link:hover {
  color: #000000;
}

.navbar-toggler {
  background-color: #fa500c;
  border: solid #7A2706;
}

.nav-item {
  border-color: #fa500c;
  background-color: #fa500c;
}


