.nav-link {
  color: #808080;
}

a.nav-link:hover {
  /*color: #808080;*/
  color: #fa500c;
}

#navbarHome, #navbarPost, #navbarDashboard {
  color: #ffffff;
  padding-top: 10px;
}

#navbarHome:hover, #navbarPost:hover, #navbarDashboard:hover {
  color: #808080;
}

.navbar-toggler {
  background-color: #fa500c;
  border: solid #808080;
}

.nav-item {
  border-color: #fa500c;
  background-color: #fa500c;
}



