.page-item {
  
    color: #d1420a;
  
}

.page-link {
    background-color: #d1420a;
    border-radius: 4px;
    &:hover {
        background-color: #C74009;
    }
    &:active {
        background-color: #d1420a;
    }
}