#postContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #e8e8e8;
  background-color: #e8e8e8;
  width: 750px;
}

.postFormTitle {
  margin-top: 10px;
}

.form-group {
  margin-top: 30px;
  margin-left: 60px;
}

#title,
#category,
#description {
  width: 600px;
}

.require {
  margin-left: 175px;
}

#createPost {
  float: left;
  background-color: #fa500c;
  border: none;
}

#createPost:hover {
  background-color: #c74009;
  border: none;
}

#cancel {
  margin-left: 20px;
  float: left;
  color: #fa500c;
  border: solid 1px #fa500c;
}

#cancel:hover {
  color: #c74009;
  border: solid 1px #c74009;
}

#createPost,
#cancel {
  width: 100px;
  margin-bottom: 20px;
}
