#postContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #e8e8e8;
  background-color: #e8e8e8;
  width: 750px;
}

.postFormTitle {
  margin-top: 10px;
}

.form-group {
  margin-top: 30px;
  margin-left: 60px;
}

#title,
#category,
#description {
  width: 600px;
}

.require {
  margin-left: 60px;
}

#createPost,
#editPost {
  float: left;
  background-color: #d1420a;
  border: solid 1px #d1420a;
}

#createPost:hover,
#editPost:hover {
  background-color: #fa500c;
  border: solid 1px #fa500c;
}

#cancel {
  margin-left: 20px;
  float: left;
  color: #d1420a;
  border: solid 1px #d1420a;
  background-color: white;
}

#cancel:hover {
  color: #fa500c;
  border: solid 1px #fa500c;
}

#createPost,
#cancel,
#editPost {
  width: 80px;
  margin-bottom: 20px;
}
