#teamupButton,
#createteamButton {
  color: #ffffff;
  border: solid 1px #d1420a;
  background-color: #d1420a;
}

#teamupButton:hover,
#createteamButton:hover {
  color: #ffffff;
  border: solid 1px #fa500c;
  background-color: #fa500c;
}
